body,
* {
    color: white;
}

.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .home-container {
        width: 90%;
    }

    .home-elements {
        position: relative;

        .home-cards-section {
            border: 1px solid #495057;
            border-radius: 24px;
        }

        h3 {
            border-bottom: 1px solid #495057;
        }

        .decoration {
            .decoration-div {
                position: absolute;
                left: 0;
                bottom: -1px;
                border: 1px solid #495057;
                border-left: none;
                border-bottom: none;
                border-radius: 0em 50em 50em 0em;
                width: 30%;
                height: 40px;
                background: none !important;
            }

            .decoration-circle-div {
                position: absolute;
                left: 380px;
                bottom: -1px;
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background: white;
            }
        }

        /* From Uiverse.io by gharsh11032000 */
        .animated-button {
            position: relative;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 6px 18px;
            border: 4px solid;
            border-radius: 10px;
            border-color: transparent;
            font-size: 13px;
            background-color: inherit;
            font-weight: 600;
            box-shadow: 0 0 0 2px red;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
            text-decoration: none;
        }

        .animated-button svg {
            position: absolute;
            width: 20px;
            fill: red;
            z-index: 9;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button .arr-1 {
            right: 3px;
        }

        .animated-button .arr-2 {
            left: -25%;
        }

        .animated-button .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            opacity: 0;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button .text {
            position: relative;
            z-index: 1;
            transform: translateX(-12px);
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button:hover {
            box-shadow: 0 0 0 12px transparent;
            color: #212121;
            border-radius: 100px;
        }

        .animated-button:hover .arr-1 {
            right: -25%;
        }

        .animated-button:hover .arr-2 {
            left: 5px;
        }

        .animated-button:hover .text {
            transform: translateX(12px);
        }

        .animated-button:hover svg {
            fill: #212121;
        }

        .animated-button:active {
            scale: 0.95;
            box-shadow: 0 0 0 4px red;
        }

        .animated-button:hover .circle {
            width: 220px;
            height: 220px;
            opacity: 1;
        }

        .heroes {
            border: 1px solid #495057;
            border-radius: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow-x: hidden;
            padding: 30px;
            gap: 25px;

            .text-section {
                width: 50%;

                h4 {
                    border: 1px solid #495057;
                    border-radius: 24px;
                    padding: 5px 0px;
                }

                p {
                    font-size: 16px;

                    strong {
                        color: orange;
                        text-decoration: underline;
                    }
                }
            }

            @keyframes slide {
                from {
                    transform: translateX(0);
                }

                to {
                    transform: translateX(-100%);
                }
            }

            .horizontal-carousel {
                border: 1px solid #495057;
                border-radius: 24px;
                padding: 10px;
                width: 50%;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .images {
                    overflow: hidden;
                    white-space: nowrap;
                    border: 1px solid #495057;
                    border-radius: 12px;
                    padding: 6px;

                    .image-slide {
                        display: inline-block;
                        animation: 15s slide infinite linear;

                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            margin: 0 10px;
                            border-radius: 12px;
                        }
                    }
                }

                @keyframes slide-two {
                    from {
                        transform: translateX(-100%);
                    }

                    to {
                        transform: translateX(0);
                    }
                }

                .images-two {
                    overflow: hidden;
                    white-space: nowrap;
                    border: 1px solid #495057;
                    border-radius: 12px;
                    padding: 6px;

                    .image-slide-two {
                        display: inline-block;
                        animation: 15s slide-two infinite linear;

                        img {
                            width: 125px;
                            height: 125px;
                            object-fit: cover;
                            margin: 0 10px;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) { 
    .heroes {
        display: flex;
        flex-direction: column;
        padding: 5px !important;

        .text-section {
            width: 100% !important;
            border: none !important;
            border-radius: 24px;
            padding: 10px !important;
        }

        .horizontal-carousel {
            width: 100% !important;

            .images,
            .images-two {
                border-radius: 50em !important;
                padding: 0 !important;
            }

            .image-slide,
            .image-slide-two {
                img {
                    width: 50px !important;
                    height: 50px !important;
                    border-radius: 50% !important;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .heroes {
        display: flex;
        flex-direction: column;

        .text-section {
            width: 100% !important;
            border: 1px solid #495057;
            border-radius: 24px;
            padding: 10px !important;
        }

        .horizontal-carousel {
            width: 100% !important;

            .images,
            .images-two {
                border-radius: 50em !important;
                padding: 0 !important;
            }

            .image-slide,
            .image-slide-two {
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50% !important;
                }
            }
        }
    }
}